<div class="simple-slider-trigger {{triggerClasses}}">
    {{unescapedTriggerContent}}
    {{#if showCaret}}
        <span class="caret pull-right"></span>
    {{/if}}
</div>
<div class="simple-slider-body {{sliderClasses}}">
    {{yield}}
</div>
