{{#full-modal title='Confirm Delete' okAction='deleteSelectedUsers' okLabel='Delete' closeAction='destroyModal' closeLabel='Cancel' okButtonClass='btn-danger' headerIcon='glyphicon glyphicon-trash'}}
	<p>Are you sure you want to delete {{selectedUsers.length}} users? This action cannot be undone.</p>
{{/full-modal}}
