{{#full-modal title='Forgot Password' okAction='' okLabel='' closeAction='destroyModal' closeLabel='Cancel' okButtonClass='btn-primary hidden' headerIcon='glyphicon glyphicon-question-sign'}}
	<div class="input-group input-group-lg">
		{{input-mask mask="email" placeholder="Account Email" value=resetEmail autocorrect="off" autocapitalize="off" class="form-control"}}
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" {{action "sendPasswordReset" resetEmail}}>Send reset</button>
        </span>
    </div>
{{/full-modal}}
