<p class='title'>Get ready for <span class="glyphicon glyphicon-heart"></span>!</p>
<p class='explanation'>But first check your inbox to confirm that you want to sign up! Stay tuned for emails putting you in touch with other AMS students for lunch.</p>
