<p class='title'>Want some <span class="glyphicon glyphicon-heart"></span>?</p>
<p class='explanation'>Sign up to get to know other AMS students over lunch.</p>
{{#link-to 'user.info' tagName='button' classNames='btn btn-danger'}}
    I want <span class='glyphicon glyphicon-heart'></span>
{{/link-to}}
